@import '../../layouts/MainLayout.module';

.input {
    color: $light-color;
    width: 100%;
    padding: 10px;
    border: 2px solid $secondary-color;
    border-radius: 4px;
    font-size: 0.8rem;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.input::placeholder {
    color: $secondary-color;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

.passwordWrapper input {
    padding-right: 50px;
}

.passwordToggleBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #4CAF50;
    font-size: 0.8rem;
}